/* General */
body {
  font-family: 'Lato', sans-serif;
  color: #555;
}
h1, h2, strong {
  color: #333;
}

a {
  transition: all 0.1s linear;
}
a:hover, a:focus {
  color: #337ab7;
}

/* Logo */
.logo {
  display: inline-block;
  width: 91px;
  padding: 10px 0;
  line-height: 71px;
  text-align: center;
  color: #eee;
  border-radius: 50%;
  background-color: #e81c4f;
}

/* Header */
header {
  position: relative;
  padding: 12vw 0;
  color: #eee;
  background: url('../images/header.png') no-repeat center center transparent;
  background-size: cover;
}
header h1 {
  color: inherit;
}
header ul {
  padding-top: 2em;
}
header ul li {
  padding: 0 12px !important;
}
header a {
  color: inherit;
}
header .unsplash {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

/* Footer */
footer {
  padding: 5vw 0;
  color: #eee;
  background: #333;
}
footer ul li {
  padding: 0 12px !important;
}
footer a {
  color: inherit;
}

/* Section: Portfolio */
#portfolio {
  padding-bottom: 32px;
}
#portfolio h2 {
  text-align: center;
}
#portfolio .portfolio-item {
  position: relative;
  display: block;
  margin-top: 24px;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.1s linear;
}
#portfolio .portfolio-item img {
  display: block;
  width: 100%;
}
#portfolio .portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  transition: all 0.1s linear;
}
#portfolio .portfolio-item .overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -21px 0 0 -20px;
  color: #eee;
}
#portfolio .portfolio-item:hover .overlay{
  opacity: 1;
}

/* Modal */
.modal-content {
  overflow: hidden;
}
.modal-body {
  padding: 15px 0 0 0;
}
.modal-body > ul {
  margin: 0 10px 15px;
}

/* Owl Carousel */
.owl-carousel .owl-prev, .owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  padding: 12px;
  font-size: 34px;
  color: #e81c4f;
}
.owl-carousel .owl-prev {
  left: 0;
}
.owl-carousel .owl-next {
  right: 0;
}
.owl-carousel .owl-item {
  background: url('../images/loading.gif') no-repeat center center transparent;
}
